@charset "UTF-8";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  width: 80vw;
  background: url(https://zupimages.net/up/18/50/5fkz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% ;
}

.link {
  color: black; 
}

.link:hover { color: red; 

}

nav a {
  text-decoration: none;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color : white;
	display: flex;
    justify-content: center;
    height: 3vh;
}

h2 {
	font-family: 'Roboto Slab', serif;
	color : white;
	margin-top:10vh;
	margin-right: auto;
	margin-left: auto;
    justify-content: center;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.choices {
	margin-right: 1%;
	margin-bottom: 2%;
	font-family: 'Roboto Slab', serif;
}

